<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>数据管理系统0.1</title>
<link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body>
<div style="font-size: 20px;background-color:blue;">TEST WORDS</div>
<div id="app">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td align="center" class="biaoti" height="60">词汇表</td>
    </tr>
    <tr>
      <td align="right" height="25">
	      <button type="button" @click="getWords">刷新列表</button>
	    </td>
      <td align="right" height="25">2017-01-02---2017-05-02</td>
    </tr>
  </table>
  
  <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center">
  <tr>
    <td class="btbg font-center titfont">序号</td>
    <td class="btbg font-center titfont">汉字</td>
    <td class="btbg font-center titfont">假名</td>
    <td class="btbg font-center titfont">意思</td>
    <td class="btbg font-center titfont">句子</td>
  </tr>
  <tr class="wd-add">
    <td class="btbg1 font-center"><button type="button" @click="addWords">添加</button></td>
    <td class="font-center"><input v-model="newWord.jap_hanzi"/></td>
    <td class="font-center"><input v-model="newWord.jap_jaming"/></td>
    <td class="font-center"><input v-model="newWord.jap_yisi"/></td>
    <td class="font-center"><input v-model="newWord.jap_juzi"/></td>
  </tr>
  <tr v-for="(word, index) in words">
    <td class="btbg1 font-center">{{index+1}}</td>
    <td class="font-center">{{word.jap_hanzi}}</td>
    <td class="font-center">{{word.jap_jaming}}</td>
    <td class="font-center">{{word.jap_yisi}}</td>
    <td class="font-center">{{word.jap_juzi}}</td>
  </tr>
</table>
</div>
<script src="vue.min.js"></script>
<script src="vue-resource.min.js"></script>
<script src="app.js"></script>
</body>
</html>
