<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>数据管理系统0.1</title>
<link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body>
<div style="font-size: 20px;background-color:blue;">TEST WORDS</div>
<div id="app">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td colspan="2" align="center" class="biaoti" height="60">词汇表</td>
    </tr>
    <tr>
      <td align="left" height="25">
	<button type="button" @click="getWords">刷新列表</button>
      </td>
      <td align="right" height="25">2017-01-02---2017-05-02</td>
    </tr>
  </table>
  
  <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center">
  <tr>
    <td class="btbg font-center titfont">序号</td>
    <td class="btbg font-center titfont">词性</td>
    <td class="btbg font-center titfont">意思</td>
    <td class="btbg font-center titfont">原型操作</td>
    <td class="btbg font-center titfont">变形类型</td>
    <td class="btbg font-center titfont">变形单词</td>
    <td class="btbg font-center titfont">变形假名</td>
    <td class="btbg font-center titfont">变形操作</td>
    <td class="btbg font-center titfont">变形句子</td>
    <td class="btbg font-center titfont">变形翻译</td>
  </tr>
  <tr class="wd-add">
    <td class="btbg1 font-center"></td>
    <td class="font-center">
      <select v-model="newWord.word_type" name="word_type">
        <option v-for="w_type in WORD_TYPES" :value="w_type.id">{{w_type.name}}</option>
      </select>	  
    </td>
    <td class="font-center"><input v-model="newWord.word_meaning"/></td>
    <td class="font-center"><button type="button" @click="addWords">{{newWord.origin_id == 0 ? '添加' : '修改'}}</button></td>
    <td class="font-center">
      <select v-model="newWord.cur_mutant.mutant_id" name="cur_mutant.mutant_id">
        <option v-for="m_type in mutantTypes" :value="m_type.id">{{m_type.name}}</option>
      </select>	  
    </td>
    <td class="font-center"><input v-model="newWord.cur_mutant.mutant_word"/></td>
    <td class="font-center"><input v-model="newWord.cur_mutant.mutant_fake"/></td>
    <td class="font-center">变形操作</td>
    <td class="font-center"><input v-model="newWord.cur_sentence.content"/></td>
    <td class="font-center"><input v-model="newWord.cur_sentence.translation"/></td>
  </tr>
  <tr v-for="(word, index) in words">
    <td class="btbg1 font-center">{{index+1}}</td>
    <td class="font-center" v-for="w_type in WORD_TYPES" v-if="w_type.id==word.word_type">{{w_type.name}}</td>
    <td class="font-center">{{word.word_meaning}}</td>
    <td class="font-center">
	    <button type="button" @click="updateWord(index)">修改</button>
	    <button type="button" @click="deleteWord(index)">删除</button>
	  </td>
     <td class="font-center">
      <select name="m_id">
        <option v-for="m_id in word.mutant_ids" :value="m_id">な形容词</option>
      </select>	  
    </td>
    <td class="font-center"></td>
    <td class="font-center"></td>
    <td class="font-center">变形操作</td>
    <td class="font-center"></td>
    <td class="font-center"></td>
    <!--td class="btbg1 font-center"><button type="button" @click="deleteWord(index)">删除</button></td-->
  </tr>
</table>
</div>
<script src="vue.min.js"></script>
<script src="vue-resource.min.js"></script>
<script src="app.js"></script>
</body>
</html>
