<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>数据管理系统0.2</title>
    </head>
    <body>
        <div>单词管理界面</div>
        <div>
            <!--a href="wordM.html"></a-->
            <a href="sentcM.html">句子管理</a>
            <a href="gramM.html">语法管理</a>
        </div>
        <table id="wordM">
            <tr>
                <td>序号</td>
                <td>ID</td>
                <td>词性</td>
                <td>单词</td>
                <td>意思</td>
                <td>关联词IDs</td>
                <td>关联句IDs</td>
                <td>关联语法IDs</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
            <tr>
                <td></td>
                <td>{{word.word_id||'新词'}}</td>
                <td>
                    <select v-model="word.word_type" name="word_type">
                        <option v-for="w_type in WORD_TYPES" :value="w_type.id">{{w_type.name}}</option>
                    </select>
                </td>
                <td><input v-model="word.word_self"/></td>
                <td><input v-model="word.word_meang"/></td>
                <td><input onkeyup="value=value.replace(/[^\1-9\,]/g,'')" 
                           onblur="value=value.replace(/[^\1-9\,]/g,'')" v-model="word.rel_wd_ids"/></td>
                <td><input v-model="word.rel_juzi_ids"/></td>
                <td><input v-model="word.rel_grm_ids"/></td>
                <td><input v-model="word.notes"/></td>
                <td><button v-if="word.word_id == 0" type="button" @click="addWord">添加</button>
                    <button v-if="word.word_id != 0" type="button" @click="submitUpdate">提交</button>
                    <button type="button" @click="getWords">刷新</button></td>
            </tr>
            <tr v-for="(wd, index) in words">
                    <td>{{index + 1}}</td>
                    <td>{{wd.word_id}}</td>
                    <td>
                        <span v-if="wd.word_type == w_type.id" v-for="w_type in WORD_TYPES">
                            {{w_type.name}}</span>
                    </td>
                    <td>{{wd.word_self}}</td>
                    <td>{{wd.word_meang}}</td>
                    <td>{{wd.rel_wd_ids}}</td>
                    <td>{{wd.rel_juzi_ids}}</td>
                    <td>{{wd.rel_grm_ids}}</td>
                    <td>{{wd.notes}}</td>
                    <td>
                        <button type="button" @click="updateWord(index)">修改</button>
                        <button type="button" @click="deleteWord(wd.word_id)">删除</button>
                    </td>
            </tr>
            <tr>
                <td colspan="10">
                    <button type="button" @click="pageUp" v-if="pagin.start > 0">上一页</button>
                    <span>第{{pagin.start+1}}页</span>
                    <button type="button" @click="pageDown" v-if="words.length >= pagin.number">下一页</button>
                </td>
            </tr>
        </table>
        <script src="vue.min.js"></script>
        <script src="vue-resource.min.js"></script>
        <script src="wordM.js"></script>
    </body>
</html>
